#background-blocker {
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #F2F2F2;
    	opacity: .97;
}

#iG-container div, 
#iG-container span, 
#iG-container p, 
#iG-container a
 {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
}
#iG-container {
	z-index:9999999;
	top:0;
	right:0;
	bottom:0 ;
	left:0;
	position:absolute !important;
}
#iG-close {
	height:48px;
	font-weight:bold;
	border-bottom:1px solid silver;
	
}

#iG-close span {
	margin: 0 10%;
	padding: 0 14px;
	cursor: pointer;
	line-height:48px;
	float: right;
	font-weight: 300;
	font-size: 20px;
}

#iG-close span:hover {
	background-color: rgba(255,255,255, 0.6);
}

#iG-close .count {
	float:right;
}

#iG-list li:hover {
}

#iG-list {
	padding:0;
	width: 90%;
	margin: 16px auto 0;
	text-align: center;
}

#iG-list ul {
	padding: 0;
	margin: 0 auto;
}
#iG-list li {
	display: inline-block;
	position: relative;
	list-style:none;
	border-right: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	width:200px;
	height:200px;
	text-align:center;
	padding:0;
	margin: 16px 1%;
}

#iG-list span {
	left: 0;
	position: absolute;
	z-index: 999;
	display: block;
	bottom: 0;
	text-align: center;
	line-height: 20px;
	width:100%;
	font-size:40px;
	margin-bottom: 0px;
	color: #EBEBEB;
	padding: 90px 0;
	opacity: 0;
}
#iG-list span:hover {
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.6);
}